<div *ngFor="let inf of info">
  <a [routerLink]="['/album', inf.album_id]">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true" style="margin-left: 20px"></i>
    <i class="fa fa-folder fa-2x" aria-hidden="true" style="margin-top: 20px"></i>
  </a>
  <div class="card" class="info" style="width: 50rem;">
    <img class="card-img-top" src="{{inf.sizes[6].src}}" style="width: 50rem; height:45rem">
    <div class="card-block">
      <h4>Date add: {{inf.date * 1000 | date}}<br></h4>
      <p>{{inf.text}}</p>
    </div>
  </div>
</div>
