<a routerLink="/album">
  <i class="fa fa-angle-left fa-2x" aria-hidden="true" style="margin-left: 20px"></i>
  <i class="fa fa-folder fa-2x" aria-hidden="true" style="margin-top: 20px"></i>
</a>

<form id="upload" name="upload" enctype="multipart/form-data">
  <select id="select-folder" class="form-control form-control-sm" name="folder" #selectFolder>
    <option id="text-folder" *ngFor="let album of albums" [value]="album.id">
      {{album.title}}
    </option>
  </select>
  <div class="form-group" id="upload-images">
    <label for="image">Upload file</label>
    <input type="file" name="file" class="form-control-file" id="image" #uploadImage>
  </div>
  <button type="submit" class="btn btn-primary" id="upload-submit" (click)="addFile()">Submit</button>
</form>
