<nav class="navbar navbar-inverse bg-primary">
  <span id="welcome" class="navbar-text" *ngIf="temp_user_info">
     <h3>Welcome, {{user_info}}</h3>
  </span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" class="upload" [routerLink]="['/upload']">
        <i class="fa fa-upload  fa-2x" aria-hidden="true"></i>
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"
           placeholder="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="card" *ngFor="let cover of albums | filter:term"
     style="margin-top: 2rem; margin-left:18rem; width: 70rem; margin-bottom: 3rem">
  <img class="card-img-top" src="{{cover.thumb_src}}" style="width: 10rem; height:10rem">
  <div class="card-block" id="card_title-info">
    <h5 class="card-title" style="width: 40rem">
      Size: {{cover.size}}<br>
      Created: {{cover.created * 1000 | date}}<br>
      Last updated: {{cover.updated * 1000 | date}}
    </h5>
    <a [routerLink]="['/album', cover.id]">
      <i class="fa fa-angle-double-right fa-2x" aria-hidden="true">{{cover.title}}</i>
    </a>
  </div>
</div>
